@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
/* 
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    min-height: 100%;
    position: relative;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

:root {
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentesecundaria: 'Handlee', cursive;
    --colorprincipal: #fa573a;
    --colorsecundario: #21242e;
    --margingrid: 1em;
    --fontsize: 1em;
    --anchomaximo: 1100px;
}

body {
    font-family: var(--fuenteprincipal);
    font-size: var(--fontsize);
}

.container {
    max-width: var(--anchomaximo);
    margin: 0 auto;
}

/* inicio header */

header .nav-top {
    background-color: var(--colorsecundario);
    padding: var(--margingrid) 0px;
}

header .nav-top .container {
    display: flex;
    justify-content: space-around;
}

header .nav-top a {
    color: var(--colorprincipal);
    text-decoration: none;
}

header .nav-top a span {
    display: none;
}

header .nav-top a i {
    font-size: 150%;
}

header nav {
    padding: var(--margingrid);
}

header nav .container:after {
    display: block;
    content: "";
    clear: both;
    height: 0;
}

header nav .hamburguesa {
    cursor: pointer;
}

header .logo {
    float: left;
    max-width: 100px;
}

header .hamburguesa {
    float: right;
}

header .menu {
    padding-top: 60px;
    text-align: center;
}

header .menu a {
    text-decoration: none;
    display: block;
    padding: calc(var(--margingrid)*1.25);
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

header .menu li:last-child a {
    border: 0px;
}

header .menu .activo {
    color: var(--colorprincipal);
}

header nav .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: calc(var(--margingrid)*0.75);
    width: 2em;
}

/* fin header */

/* inicio footer */

footer {
    background-color: var(--colorsecundario);
    padding: var(--margingrid) 0px;
    color: white;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--colorprincipal);
}

.flecha a {
    display: block;
    color: var(--colorprincipal);
    position: fixed;
    bottom: 2%;
    right: 10px;
    font-size: 250%;
}

/* fin footer */


/* inicio ourservices */

main .container {
    padding: calc(var(--margingrid)*1) var(--margingrid);
}

main .container img{
    display: block;
}

main .container .grid section {
    
    
    position: relative;
}

main .container .title h2 {
    color: black;
    font-family: var(--fuentesecundaria);
    font-size: 3em;
    text-align: center;
}

main .container  .title h2 span {
    color: var(--colorprincipal);
}

main .container .title .underline {
    position: relative;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: var(--margingrid);
}

main .container .title .underline hr {
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--colorprincipal);
}

main .container .title .underline span {
    color: var(--colorprincipal);
    font-weight: 700;
}

main  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--margingrid);
    margin-bottom: calc(var(--margingrid)*2);
}

main .grid article{
    padding: calc(var(--margingrid)*.7);
}
main .grid h3 {
    
    font-style: var(--fuenteprincipal);
    font-weight: 700;
    margin-bottom: calc(var(--margingrid)*.5);  
}

main .grid h4 {
   
    font-style: var(--fuenteprincipal);
    font-weight: 700;
    color: var(--colorprincipal);
    font-size: .7em;  
    margin-bottom: calc(var(--margingrid)*.5);  
}

main .grid p{
    font-size: .7em;
}

main .grid .more{
    text-decoration: none;
    font-size: .7em;
    color:var(--colorprincipal);
    font-weight: 700;
}

main .grid .fecha{
     padding: calc(var(--margingrid));
     position: absolute;
     background-color: rgba(240, 62, 62, 0.788);
     text-align: center;
     align-items: center;
     color: white;
     font-weight: 700;
     font-size: 1em;
     justify-content: center;
     top: 0px;
     left:0px;
            
}



/* mediaquerys */



@media(min-width: 768px) {
    header .nav-top a span {
        display: inline;
        color: white;
    }
    header .nav-top a i {
        font-size: 120%;
    }
    footer {
        text-align: left;
        
    }

    main  .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    

    main .grid .fecha{
        padding: calc(var(--margingrid)*1.5);
        position: absolute;
        background-color: rgba(240, 62, 62, 0.788);
        text-align: center;
        align-items: center;
        color: white;
        font-weight: 700;
        font-size: 1em;
        justify-content: center;
        top: 0px;
        left:0px;
               
   }
}

@media(min-width: 1004px) {
    header .hamburguesa {
        display: none;
    }
    header .menu {
        padding-top: 0px;
        float: right;
    }
    header .menu li {
        display: inline-block;
    }
    header .menu li a {
        border: 0px;
        padding: 0.5em calc(var(--margingrid));
    }
}