@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
/* 
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    min-height: 100%;
    position: relative;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

:root {
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentesecundaria: 'Handlee', cursive;
    --colorprincipal: #fa573a;
    --colorsecundario: #21242e;
    --margingrid: 1em;
    --fontsize: 1em;
    --anchomaximo: 1100px;
}

body {
    font-family: var(--fuenteprincipal);
    font-size: var(--fontsize);
}

.container {
    max-width: var(--anchomaximo);
    margin: 0 auto;
}

/* inicio header */

header .nav-top {
    background-color: var(--colorsecundario);
    padding: var(--margingrid) 0px;
}

header .nav-top .container {
    display: flex;
    justify-content: space-around;
}

header .nav-top a {
    color: var(--colorprincipal);
    text-decoration: none;
}

header .nav-top a span {
    display: none;
}

header .nav-top a i {
    font-size: 150%;
}

header nav {
    padding: var(--margingrid);
}

header nav .container:after {
    display: block;
    content: "";
    clear: both;
    height: 0;
}

header nav .hamburguesa {
    cursor: pointer;
}

header .logo {
    float: left;
    max-width: 100px;
}

header .hamburguesa {
    float: right;
}

header .menu {
    padding-top: 60px;
    text-align: center;
}

header .menu a {
    text-decoration: none;
    display: block;
    padding: calc(var(--margingrid)*1.25);
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

header .menu li:last-child a {
    border: 0px;
}

header .menu .activo {
    color: var(--colorprincipal);
}

header nav .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: calc(var(--margingrid)*0.75);
    width: 2em;
}

/* fin header */

/* inicio footer */

footer {
    background-color: var(--colorsecundario);
    padding: var(--margingrid) 0px;
    color: white;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--colorprincipal);
}

.flecha a {
    display: block;
    color: var(--colorprincipal);
    position: fixed;
    bottom: 2%;
    right: 10px;
    font-size: 250%;
}

/* fin footer */

/* inicio Index */

.hero {
    background-image: url(../images/fondo.jpg);
    height: 60vh;
    background-position: center center;
    background-size: cover;
    background-color: #777;
    background-blend-mode: multiply;
    color: white;
    display: flex;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: var(--margingrid);
}

.hero h1 {
    font-family: var(--fuentesecundaria);
    font-size: 2.25em;
}

.hero h2 {
    color: var(--colorprincipal);
    margin: var(--margingrid) 0;
    font-size: 1.25em;
}

.hero p {
    font-size: 1.15em;
}

.boton {
    display: inline-block;
    background-color: var(--colorprincipal);
    padding: var(--margingrid);
    color: white;
    text-decoration: none;
    margin: var(--margingrid) 0;
    border: 1px solid var(--colorprincipal);
}

.boton:hover {
    background: transparent;
    color: var(--colorprincipal);
}

.boton:hover i {
    transform: translateX(5px);
    transition: 0.5s;
}

.hero .social {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.hero .social a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

/* fin hero */

/* inicio ourservices */

.mainIndex section {
    padding: calc(var(--margingrid)*3) var(--margingrid);
}

.mainIndex section h2 {
    color: black;
    font-family: var(--fuentesecundaria);
    font-size: 2em;
    text-align: center;
}

.mainIndex section h2 span {
    color: var(--colorprincipal);
}

.mainIndex section .underline {
    position: relative;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: var(--margingrid);
}

.mainIndex section .underline hr {
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--colorprincipal);
}

.mainIndex section .underline span {
    color: var(--colorprincipal);
    font-weight: 700;
}

.mainIndex #ourservices .grid {
    display: grid;
}

.mainIndex #ourservices .grid article {
    padding: calc(var(--margingrid)*2) 0;
    border-bottom: 1px solid #aaa;
}

.mainIndex #ourservices .grid article div i {
    color: var(--colorprincipal);
    font-size: 150%;
    border: 1px solid var(--colorprincipal);
    padding: 0.5em;
}

.mainIndex #ourservices .grid article h3 {
    font-weight: 700;
    margin: 10px 0;
    font-size: 110%;
}

.mainIndex section p {
    color: #666;
    line-height: 1.25;
    margin-bottom: 10px;
}

.enlace {
    text-decoration: none;
    color: var(--colorprincipal);
    font-weight: 700;
}

.fa-truck {
    transform: rotateY(180deg);
}

/* fin ourservices */

/* inicio aboutus */

.mainIndex #aboutus .flex .column {
    margin: var(--margingrid) 0;
}

.mainIndex #aboutus .column h3 {
    font-weight: 700;
    font-size: 110%;
}

.mainIndex #aboutus .column h4 {
    margin: 0.8em 0;
    color: var(--colorprincipal);
}

.mainIndex #aboutus .imagen {
    width: 90%;
    margin: 0 auto;
}

.mainIndex #aboutus .imagen .marco {
    border: 3px solid var(--colorprincipal);
    transform: rotateZ(10deg);
    transition: 1s;
}

.mainIndex #aboutus .imagen .marco img {
    transform: rotateZ(-10deg);
    transition: 1s;
}

.mainIndex #aboutus .imagen:hover .marco, main #aboutus .imagen:hover .marco img {
    transform: rotateZ(0deg);
}

/* fin aboutus */


/* inicio  Blog */

.mainIndex .containerBlog {
    padding: calc(var(--margingrid)*1) var(--margingrid);
}

.mainIndex .containerBlog img{
    display: block;
}

.mainIndex .containerBlog .grid section {
    
    
    position: relative;
}

.mainIndex .containerBlog .title h2 {
    color: black;
    font-family: var(--fuentesecundaria);
    font-size: 3em;
    text-align: center;
}

.mainIndex .containerBlog  .title h2 span {
    color: var(--colorprincipal);
}

.mainIndex .containerBlog .title .underline {
    position: relative;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: var(--margingrid);
}

.mainIndex .containerBlog .title .underline hr {
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--colorprincipal);
}

.mainIndex .containerBlog .title .underline span {
    color: var(--colorprincipal);
    font-weight: 700;
}

.mainIndex .containerBlog .gridBlog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--margingrid);
    margin-bottom: calc(var(--margingrid)*2);
}

.mainIndex .containerBlog .gridBlog article{
    padding: calc(var(--margingrid)*.7);
}
.mainIndex .containerBlog .gridBlog h3 {
    
    font-style: var(--fuenteprincipal);
    font-weight: 700;
    margin-bottom: calc(var(--margingrid)*.5);  
}

.mainIndex .containerBlog .gridBlog h4 {
   
    font-style: var(--fuenteprincipal);
    font-weight: 700;
    color: var(--colorprincipal);
    font-size: .7em;  
    margin-bottom: calc(var(--margingrid)*.5);  
}

.mainIndex .containerBlog .gridBlog p{
    font-size: .7em;
}

.mainIndex .containerBlog .gridBlog .more{
    text-decoration: none;
    font-size: .7em;
    color:var(--colorprincipal);
    font-weight: 700;
}

.mainIndex .containerBlog .gridBlog section article .fechaBlog{
    padding: calc(var(--margingrid));
    position: absolute;
    background-color: rgba(240, 62, 62, 0.788);
    text-align: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 1em;
    justify-content: center;
    top: 0px;
    left:0px;
           
}

/* inicio Menu */

.bodyMenu {
    font-family: var(--fuenteprincipal);
    font-size: var(--fontsize);
    background-color: var(--colorsecundario);
}

.mainMenu .container {
    padding: calc(var(--margingrid)*1) var(--margingrid);
}

.mainMenu .container img{
    display: block;
}

.mainMenu .container .grid section {
    
    padding: calc(var(--margingrid)*1) calc(var(--margingrid)*4);
    position: relative;
}

.mainMenu .container .title h2 {
    color: white;
    font-family: var(--fuentesecundaria);
    font-size: 3em;
    text-align: center;
}

.mainMenu .container  .title h2 span {
    color: var(--colorprincipal);
}

.mainMenu .container .title .underline {
    position: relative;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: var(--margingrid);
}

.mainMenu .container .title .underline hr {
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--colorprincipal);
}

.mainMenu .container .title .underline span {
    color: var(--colorprincipal);
    font-weight: 700;
}

.mainMenu  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--margingrid);
    margin-bottom: calc(var(--margingrid)*2);
}

.mainMenu .grid article{
    padding: calc(var(--margingrid)*.7) 0;
}
.mainMenu .grid h3 {
    color: white;
    font-style: var(--fuenteprincipal);
    font-weight: 700;
    margin-bottom: calc(var(--margingrid)*.5);  
    font-size: .9em;
}

.mainMenu h4 {
   
    font-style: var(--fuenteprincipal);
    font-weight: 700;
    color: white;
    font-size: .7em;  
    padding: var(--margingrid);
    
    
}

.mainMenu h5 {
   
    font-style: var(--fuenteprincipal);
    font-weight: 700;
    color: var(--colorprincipal);
    font-size: .9em;  
    
    float: right;  
    transform: translatey(-23px);
    
}

.mainMenu .grid p{
    font-size: .7em;
    color: white;
    margin-bottom: .5em;
}

.mainMenu .grid .more{
    text-decoration: none;
    font-size: .7em;
    color:var(--colorprincipal);
    font-weight: 700;
    
}

.mainMenu .grid .img{
    margin-top: var(--margingrid);
    
}

.mainMenu .grid .grid1 .textos .menus div:hover {
background-color: var(--colorprincipal);

}

.mainMenu .grid .grid1 .textos .menus {
    margin: calc(var(--margingrid)*1.5) calc(var(--margingrid)*.5);
}

.underline{
    width: 10%;
}
.underline hr{
    border-color: var(--colorprincipal);
}

.mainMenu .grid .grid1 .textos .oferta p {
    padding: var(--margingrid) 0;

}

/* inicio main blog */

.mainBlog .container {
    padding: calc(var(--margingrid)*1) var(--margingrid);
}

.mainBlog .container img{
    display: block;
}

.mainBlog .container .grid section {
    
    
    position: relative;
}

.mainBlog .container .title h2 {
    color: black;
    font-family: var(--fuentesecundaria);
    font-size: 3em;
    text-align: center;
}

.mainBlog .container  .title h2 span {
    color: var(--colorprincipal);
}

.mainBlog .container .title .underline {
    position: relative;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: var(--margingrid);
}

.mainBlog .container .title .underline hr {
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--colorprincipal);
}

.mainBlog .container .title .underline span {
    color: var(--colorprincipal);
    font-weight: 700;
}

.mainBlog  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--margingrid);
    margin-bottom: calc(var(--margingrid)*2);
}

.mainBlog .grid article{
    padding: calc(var(--margingrid)*.7);
}
.mainBlog .grid h3 {
    
    font-style: var(--fuenteprincipal);
    font-weight: 700;
    margin-bottom: calc(var(--margingrid)*.5);  
}

.mainBlog .grid h4 {
   
    font-style: var(--fuenteprincipal);
    font-weight: 700;
    color: var(--colorprincipal);
    font-size: .7em;  
    margin-bottom: calc(var(--margingrid)*.5);  
}

.mainBlog .grid p{
    font-size: .7em;
}

.mainBlog .grid .more{
    text-decoration: none;
    font-size: .7em;
    color:var(--colorprincipal);
    font-weight: 700;
}

.mainBlog .grid .fecha{
     padding: calc(var(--margingrid));
     position: absolute;
     background-color: rgba(240, 62, 62, 0.788);
     text-align: center;
     align-items: center;
     color: white;
     font-weight: 700;
     font-size: 1em;
     justify-content: center;
     top: 0px;
     left:0px;
            
}



/* mediaquerys */

@media(min-width: 600px) {
    main #ourservices .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--margingrid);
    }
    main #ourservices .grid article:last-child {
        grid-column: 1/3;
    }
    main #ourservices .grid article {
        border-bottom: 0px;
        border-left: 1px solid #aaa;
        padding: var(--margingrid);
    }
    main #aboutus .flex {
        display: flex;
    }
    main #aboutus .imagen {
        width: 80%;
    }
    main #aboutus {
        margin-bottom: 2em;
    }
}

@media(min-width: 768px) {
    header .nav-top a span {
        display: inline;
        color: white;
    }
    header .nav-top a i {
        font-size: 120%;
    }
    footer {
        text-align: left;
    }
    main #ourservices .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    main #ourservices .grid article:last-child {
        grid-column: 3/4;
    }

    .mainBlog  .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    

    .mainBlog .grid .fecha{
        padding: calc(var(--margingrid)*1.5);
        position: absolute;
        background-color: rgba(240, 62, 62, 0.788);
        text-align: center;
        align-items: center;
        color: white;
        font-weight: 700;
        font-size: 1em;
        justify-content: center;
        top: 0px;
        left:0px;
               
    }

   
   
}

@media(min-width: 1004px) {
    header .hamburguesa {
        display: none;
    }
    header .menu {
        padding-top: 0px;
        float: right;
    }
    header .menu li {
        display: inline-block;
    }
    header .menu li a {
        border: 0px;
        padding: 0.5em calc(var(--margingrid));
    }

    .mainMenu .grid .grid1{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: repeat(1,1fr);

    }

    .mainMenu .grid .grid1 .imagenes .img{
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin-left: calc(var(--margingrid)*5);
       
        
    }

    .mainMenu .grid .grid1 .imagenes article{
        padding:calc(var(--margingrid)*2);
    }

    .mainMenu .grid .grid1 .textos {
        display: grid;
        grid-template-rows: 1fr 1fr;

    }
}